<body>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
   <div class="container">
     <div class="section no-pad-bot center" id="index-banner">
       <div class="container">
         <br><br>
         
         <br><br>
       </div>
     </div>
   
  
     <div class="container">
       <div class="row">
         <div class="col s7">
           <div class="card">
             <div class="card-content center">
               <h2 class="header center black-text">Login</h2>
               <form [formGroup]="FormLogin">
                   <label for="">Ingrese dnickname</label>              
                   <input type="text" class="form-control" id="usuario" formControlName="usuario"> 
                   <br>
                   <label for="">Contraseña: <input type="password" class="form-control" id="password" formControlName="password"></label>
                   <br>
                   <br>
                   <button class="btn btn-success" type="submit">Entrar</button>
                   
               </form>
             </div>
           </div> 
         </div>
         <div class="col s7">
         </div>
       </div>
     </div>
   </div>
   
  
  
  </body>